{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Movie City</h1>
          <p class="lead">Learn more about Movie City</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2>What is Movie City?</h2>
            <p class="lead"> Movie City is a world class online movie renting service guaranteed to give you fast, affordable and high quality movies.
            </p>
          </div>
            <div class="col-md-12">
                <h2>Partners</h2>
                <p class="lead"> Movie City has partnered with other organisations to ensure you get the coolest options for you movie watching experience
                </p>
                <div style="display: flex;overflow-x:auto;">
                    <a href="https://www.cinemax.com/" target="_blank"> <img src="{% static 'img/cinemax.png' %}" alt="" class="col-md-6" style="flex: 33.33%;padding: 5px;" width="500" height="500"></a>
                    <a href="https://www.amc.com/" target="_blank"> <img src="{% static 'img/amc.png' %}" alt="" class="col-md-6" width="300" height="300"></a>
                </div>
                <p class="mt-4">Movie City uses it's movies sources to provide a huge catalogue for you.</p>
              </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-light text-black text-center">
    <h2 class="display-4">Check out the current top movies</h2>
    <h4>Find you favorite movies in a fast convenient way</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Available Movies</a>
  </section>

{% endblock %}
